.banner{
    background-image: url(/public/images/pcmmh.jpg);
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-position: top;
}

@media (max-width: 1460px){
    .banner{
    background-image: url(/public/images/pcmmh2.jpg);
    }
}
@media (max-width: 1040px){
    .banner{
    background-image: url(/public/images/pcmmh3.jpg);
    }
}
@media (max-width: 640px){
    .banner{
    background-image: url(/public/images/pcmmh4.jpg);
    }
}